<h1>Reviewer: <%= @user.username %></h1>
<br>
<%= link_to "Back To All Reviews", reviews_path %> | <%= link_to "Back To All Genres", "/genres" %>
<br>
<br>
<ul>
<% @user.reviews.each do |review| %>
  <p><li><strong><%= link_to review.title, review_path(review) %></strong></br> 
  <small>Genre: <%= link_to review.category.name, "users/#{user.user_id}/genres/#{review.category.id}" %></small></p>
    <p><%= review.content %></p>
    <% if review.comments.present? %>
    <small><%= review.comments.count %> <%= review.comments.count == 1 ? "Comment" : "Comments" %></small></br> 
    <% end %>
    <small>Created: <%=review.time_lapse(review.created_at) %></small> 
    <% if review.updated_at != review.created_at %>
    | <small>Updated: <%=review.time_lapse(review.updated_at) %></small>
    <% end %>
</li>
<%end%>
</ul> 