<h1>Genre: <%= @category.name %></h1>
<br>
<ul>
<% @category.reviews.each do |review| %>
  <p><li><strong><%= link_to review.title, review_path(review) %></strong></a> 
      <p><%=review.content %></p>
      <small>Created: <%=review.created_at %></small> <small>Updated: <%=review.updated_at %></small>
  </li>
  <br>
  <%end%>
</ul></p>
