<h1>Small Reviews</h1>
<br>
<% if user_signed_in? %>
  <%= link_to "Submit New Review", new_review_path %> | <%= link_to "Search By Genre", "/genres" %>
<% else %>
  <strong>Everyone can join, <%= link_to "Sign Up", new_user_registration_path %> to share your small reviews.</strong>
<% end %>
<br>
<ul>
  <%Review.all.each do |review|%>
    <p><li><strong><%= link_to review.title, review_path(review.id) %></strong><br> 
    <small>Genre: <%= link_to review.category.name, "genres/#{review.category_id}" %></small> |
    <small>Submitted by: <%= review.user.username %></small></p>
      <p><%= review.content %></p>
      <% if review.comments.present? %>
      <small><%= review.comments.count %> <%= review.comments.count == 1 ? "Comment" : "Comments" %></small></br> 
      <% end %>
      <small>Created: <%=review.time_lapse(review.created_at) %></small> 
      <% if review.updated_at != review.created_at %>
      | <small>Updated: <%=review.time_lapse(review.updated_at) %></small>
      <% end %>
  </li>
  <%end%>
</ul> 
