<h1>Small Reviews</h1>
<br>
<%= link_to "Submit New Review", new_review_path %>
<br>
<ul>
  <%Review.all.each do |review|%>
    <p><li><strong><%= link_to review.title, review_path(review.id) %></strong></p> 
    <p><small>Submitted by: <%= review.user.username %></small></p>
      <p><%= review.content %></p>
      <small>Created: <%=review.created_at %></small> | <small>Updated: <%=review.updated_at %></small>
  </li>
  <%end%>
</ul> 
