<h1>Small Review by: <%= @review.user.username %></h1>
<% if @review.user_id %>
  <%= link_to "Edit Review", edit_review_path %>
  <%= link_to 'Delete Review',  @review,  method: :delete, data: { confirm: 'Are you sure?' } %> 
<% end %> 
<h2><%= @review.title %></h2>
<p><%= @review.content %></p>
<small>Created: <%= @review.created_at %></small> <small>Updated: <%= @review.updated_at %></small>
<br>
<br>
<%= link_to 'Back To All Reviews', reviews_path %>
